<header>
    <app-logotype></app-logotype>
    <nav>
        <button (click)="changeVisibility()">
            <app-navbar [visible]="visible">
                
                <a href="/">
                    <app-nav-element>
                        {{userInfo ? userInfo.display_name : 'Username'}}
                    </app-nav-element>
                </a>

                <a href="/favorite">
                    <app-nav-element>
                        Favoritos
                    </app-nav-element>
                </a>                    
                
                <a href="/" (click)="clientService.signOutSession()">
                    <app-nav-element>
                        Cerrar sesión
                    </app-nav-element>
                </a>

            </app-navbar>
            <img *ngIf="!userInfo || userInfo.images.length === 0" src="https://media.istockphoto.com/illustrations/woman-with-short-hair-in-headphones-illustration-id465785399?k=6&m=465785399&s=612x612&w=0&h=R65nc5vFJLgClId1WJW8Ox6cwZbgcTjSZdbupH7LtUI=" alt="User Profile">
            <img *ngIf="userInfo.images.length > 0" src="{{userInfo.images[0].url}}" alt="User Profile">
        </button>
    </nav>
</header>